<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <title>Js issue tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
    <!-- Showing the header -->
    {{> header}}
    <!-- this is how u call a partial the word header refers to a file name in partials folder -->

    <p>some text here </p>


    {{> footer}}
    <!-- this is how u call a partial the word footer refers to a file name in partials folder -->



</body>

</html>