<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <title>Js issue tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
    <!-- Showing the header -->
    <header>
        <div>
            <h1>maintainance Page
                <h1>
        </div>
    </header>

    <p>Sorry !the site is being updated. </p>

</body>

</html>