<!DOCTYPE html>
<html lang="en">

<head>


    <!-- Required meta tags -->
    <title>Js issue tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
    <!-- Showing the header -->
    {{> header}}

    <p>projects page </p>
    <!-- this is how u call a variable the word welcomeMessage refers to a variable name in res.render function of '/' -->


    {{> footer}}

</body>

</html>